annotations.csv
FgSegNet_v2/Luna16/models/folder0/mdl_folder0.h5
FgSegNet_v2/Luna16/models/folder1/mdl_folder1.h5
FgSegNet_v2/Luna16/models/folder2/mdl_folder2.h5
FgSegNet_v2/Luna16/models/folder3/mdl_folder3.h5
FgSegNet_v2/Luna16/models/folder4/mdl_folder4.h5
FgSegNet_v2/Luna16/models/folder5/mdl_folder5.h5
FgSegNet_v2/Luna16/models/folder6/mdl_folder6.h5
FgSegNet_v2/Luna16/models/folder7/mdl_folder7.h5
FgSegNet_v2/Luna16/models/folder8/mdl_folder8.h5
FgSegNet_v2/Luna16/models/folder9/mdl_folder9.h5
FgSegNet_v2/Luna16/models/folder0/mdl_multi_task_folder0.h5
FgSegNet_v2/Luna16/models/folder1/mdl_multi_task_folder1.h5
FgSegNet_v2/Luna16/models/folder0/mdl_multi_task_DiceBDE_folder0.h5
